@import '@styles/variables/colors.scss';
@import '@styles/mixins/mediaqueries.scss';

.needItemCard {
  background: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 0px transparent;
  margin: 10px;
  transition: 0.5s;
  padding-top: 0px !important;
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 6rem;
  background: $colorWhite;
  width: 320px;
}

.needItemCard:hover {
  background: $colorWhite;
  border-radius: 20px;
  box-shadow: 5px 5px 10px $colorTextGrayLight;
  margin: 10px;
  margin-top: 4rem;
}

.needsTitle {
  max-width: 220px;
}

@include mobile-only {
}