@import '@styles/mixins/mediaqueries.scss';

.contactMeContainer {
  margin-top: 2rem;
  width: 100%;
}

.contactLinksContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contactLinkContent {
  margin-left: 2rem;
}

@include mobile-only {
  .contactLinksContainer {
    flex-wrap: wrap;
  }

  .contactLinkContent {
    flex: 50%;
    margin: 2rem 1rem;
  }
}