@import '@styles/variables/colors.scss';

.button {
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.button:disabled {
    pointer-events: none;
    cursor: default;
    background: $colorTextGrayExtraLight !important;
    transition: 0.5s;

    div {
        color: $colorTextGrayLight !important;
    }
}

.rounded {
    border-radius: 10px;
}

.tiny {
    height: 20px;
    width: 30px;
}

.small {
    height: 36px;
    width: 86px;
}

.normal {
    height: 42px;
    width: 108px;
}

.large {
    height: 51px;
    width: 116px;
}

.fit {
    min-height: 42px;
    height: fit-content;
    width: fit-content;
}

.full {
    min-height: 42px;
    height: fit-content;
    width: 100%;
}

.alignCenter {
    margin: 0 auto;
}

.alignRight {
    align-self: flex-end;
    float: right;
}

.alignLeft {
    align-self: flex-start;
    float: left;
}

.primaryHover:hover:not(.primaryIsActive) {
    margin-top: -1rem;
    box-shadow: 2px 2px 8px $colorTextGray;
    background: $colorPrimaryHover !important;
}

.primaryIsActive {
    cursor: default;
    background: $colorPrimaryHover !important;
}

.secondaryHover:hover {
    
}

.successHover:hover {
    
}

.infoHover:hover {
    
}

.helpHover:hover {
    
}

.warningHover:hover {
    
}

.dangerHover:hover {
    
}

.blankHover:hover {
    text-decoration: underline;
}