.homeBannerContainer {
    width: 100%;
    position: relative;
}

.isLoading {
    background-color: rgba(20, 20, 20, 0.5);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }