@import '@styles/variables/colors.scss';

.nutritionNeedsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $colorSecondaryLight;
  padding: 2rem;
}

.needsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 1085px;
  max-width: 1085px;
}

.buttonContainer {
  margin-top: 1rem;
  width: 955px;
}

.buttonContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
