.imageContainer {
  position: relative;
  clip-path: inset(0);
  width: 100%;
  height: 800px;
}

.imageFixed {
  position: fixed;
  top: 0;
  left: 0;
}

.imageEditButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.imageEditButton {
  padding: 10px;
}
