@import '@styles/variables/colors.scss';
@import '@styles/variables/zIndexes.scss';

.urgentContainer {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.confirmButton {
  margin-top: auto !important;
}
