@import '../../styles/variables/colors.module.scss';

.navBarContainer {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $white;
    height: 50px;
    margin-top: 2rem;
}