$colorBlack: #000000;
$colorBlackHover: #505050;

$colorTextGray: #8E8E8E;
$colorTextGrayLight: #AEAEAE;
$colorTextGrayExtraLight: #C7C7C7;

$colorWhite: #FFFFFF;
$colorAlmostWhite: #F0F0F0;

$colorPrimary: #B0219B;
$colorPrimaryHover: #941982;
$colorPrimaryLight: rgba(176, 33, 155, 0.6);

$colorSecondary: #B9D41E;
$colorSecondaryHover: #A8C01A;
$colorSecondaryLight: rgba(185, 212, 30, 0.6);

$colorSuccess: #22C55e;
$colorInfo: #3B82F6;
$colorWarning: #F59E0B;
$colorHelp: #A855F7;
$colorDanger: #EF4444;
