@import '@styles/mixins/mediaqueries.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/screenWidths.scss';

.App {
  background: $colorAlmostWhite;
  margin: 0 auto;
  text-align: center;
}
  
.App-header {
  font-size: calc(10px + 2vmin);
}
