@import '@styles/variables/colors.scss';

.footerContainer {
  margin-top: 3rem;
  height: 245px;
  width: 100%;
  background: $colorSecondaryLight;
}

.footerContent {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-left: 4rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 4rem;
  max-width: 600px;
}
